/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url(.././fonts/Montserrat-Thin.eot);
    src: url(.././fonts/Montserrat-Thin.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Thin.woff2) format("woff2"),
         url(.././fonts/Montserrat-Thin.woff) format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url(.././fonts/Montserrat-ThinItalic.eot);
    src: url(.././fonts/Montserrat-ThinItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-ThinItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-ThinItalic.woff) format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url(.././fonts/Montserrat-ExtraLight.eot);
    src: url(.././fonts/Montserrat-ExtraLight.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-ExtraLight.woff2) format("woff2"),
         url(.././fonts/Montserrat-ExtraLight.woff) format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url(.././fonts/Montserrat-ExtraLightItalic.eot);
    src: url(.././fonts/Montserrat-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-ExtraLightItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-ExtraLightItalic.woff) format("woff");
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url(.././fonts/Montserrat-Light.eot);
    src: url(.././fonts/Montserrat-Light.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Light.woff2) format("woff2"),
         url(.././fonts/Montserrat-Light.woff) format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url(.././fonts/Montserrat-LightItalic.eot);
    src: url(.././fonts/Montserrat-LightItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-LightItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-LightItalic.woff) format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url(.././fonts/Montserrat-Regular.eot);
    src: url(.././fonts/Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Regular.woff2) format("woff2"),
         url(.././fonts/Montserrat-Regular.woff) format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url(.././fonts/Montserrat-Italic.eot);
    src: url(.././fonts/Montserrat-Italic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Italic.woff2) format("woff2"),
         url(.././fonts/Montserrat-Italic.woff) format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url(.././fonts/Montserrat-Medium.eot);
    src: url(.././fonts/Montserrat-Medium.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Medium.woff2) format("woff2"),
         url(.././fonts/Montserrat-Medium.woff) format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url(.././fonts/Montserrat-MediumItalic.eot);
    src: url(.././fonts/Montserrat-MediumItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-MediumItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-MediumItalic.woff) format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url(.././fonts/Montserrat-SemiBold.eot);
    src: url(.././fonts/Montserrat-SemiBold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-SemiBold.woff2) format("woff2"),
         url(.././fonts/Montserrat-SemiBold.woff) format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url(.././fonts/Montserrat-SemiBoldItalic.eot);
    src: url(.././fonts/Montserrat-SemiBoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-SemiBoldItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-SemiBoldItalic.woff) format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url(.././fonts/Montserrat-Bold.eot);
    src: url(.././fonts/Montserrat-Bold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Bold.woff2) format("woff2"),
         url(.././fonts/Montserrat-Bold.woff) format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url(.././fonts/Montserrat-BoldItalic.eot);
    src: url(.././fonts/Montserrat-BoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-BoldItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-BoldItalic.woff) format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url(.././fonts/Montserrat-ExtraBold.eot);
    src: url(.././fonts/Montserrat-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-ExtraBold.woff2) format("woff2"),
         url(.././fonts/Montserrat-ExtraBold.woff) format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url(.././fonts/Montserrat-ExtraBoldItalic.eot);
    src: url(.././fonts/Montserrat-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-ExtraBoldItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-ExtraBoldItalic.woff) format("woff");
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url(.././fonts/Montserrat-Black.eot);
    src: url(.././fonts/Montserrat-Black.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Black.woff2) format("woff2"),
         url(.././fonts/Montserrat-Black.woff) format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url(.././fonts/Montserrat-BlackItalic.eot);
    src: url(.././fonts/Montserrat-BlackItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-BlackItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-BlackItalic.woff) format("woff");
}

/** =================== MONTSERRAT ALTERNATES =================== **/

/** Montserrat Alternates Thin **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Thin.eot);
    src: url(.././fonts/MontserratAlternates-Thin.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Thin.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Thin.woff) format("woff");
}

/** Montserrat Alternates Thin-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-ThinItalic.eot);
    src: url(.././fonts/MontserratAlternates-ThinItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-ThinItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-ThinItalic.woff) format("woff");
}

/** Montserrat Alternates ExtraLight **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-ExtraLight.eot);
    src: url(.././fonts/MontserratAlternates-ExtraLight.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-ExtraLight.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-ExtraLight.woff) format("woff");
}

/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-ExtraLightItalic.eot);
    src: url(.././fonts/MontserratAlternates-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-ExtraLightItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-ExtraLightItalic.woff) format("woff");
}

/** Montserrat Alternates Light **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Light.eot);
    src: url(.././fonts/MontserratAlternates-Light.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Light.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Light.woff) format("woff");
}

/** Montserrat Alternates Light-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-LightItalic.eot);
    src: url(.././fonts/MontserratAlternates-LightItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-LightItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-LightItalic.woff) format("woff");
}

/** Montserrat Alternates Regular **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Regular.eot);
    src: url(.././fonts/MontserratAlternates-Regular.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Regular.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Regular.woff) format("woff");
}

/** Montserrat Alternates Regular-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-Italic.eot);
    src: url(.././fonts/MontserratAlternates-Italic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Italic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Italic.woff) format("woff");
}

/** Montserrat Alternates Medium **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Medium.eot);
    src: url(.././fonts/MontserratAlternates-Medium.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Medium.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Medium.woff) format("woff");
}

/** Montserrat Alternates Medium-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-MediumItalic.eot);
    src: url(.././fonts/MontserratAlternates-MediumItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-MediumItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-MediumItalic.woff) format("woff");
}

/** Montserrat Alternates SemiBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-SemiBold.eot);
    src: url(.././fonts/MontserratAlternates-SemiBold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-SemiBold.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-SemiBold.woff) format("woff");
}

/** Montserrat Alternates SemiBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-SemiBoldItalic.eot);
    src: url(.././fonts/MontserratAlternates-SemiBoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-SemiBoldItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-SemiBoldItalic.woff) format("woff");
}

/** Montserrat Alternates Bold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Bold.eot);
    src: url(.././fonts/MontserratAlternates-Bold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Bold.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Bold.woff) format("woff");
}

/** Montserrat Alternates Bold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-BoldItalic.eot);
    src: url(.././fonts/MontserratAlternates-BoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-BoldItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-BoldItalic.woff) format("woff");
}

/** Montserrat Alternates ExtraBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-ExtraBold.eot);
    src: url(.././fonts/MontserratAlternates-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-ExtraBold.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-ExtraBold.woff) format("woff");
}

/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-ExtraBoldItalic.eot);
    src: url(.././fonts/MontserratAlternates-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-ExtraBoldItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-ExtraBoldItalic.woff) format("woff");
}

/** Montserrat Alternates Black **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 900;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Black.eot);
    src: url(.././fonts/MontserratAlternates-Black.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Black.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Black.woff) format("woff");
}

/** Montserrat Alternates Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-BlackItalic.eot);
    src: url(.././fonts/MontserratAlternates-BlackItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-BlackItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-BlackItalic.woff) format("woff");
}
/** Generated by FG **/
@font-face {
	font-family: 'Quicksand';
	src: url(.././fonts/Quicksand-Bold.eot);
	src: local('☺'), url(.././fonts/Quicksand-Bold.woff) format('woff'), url(.././fonts/Quicksand-Bold.ttf) format('truetype'), url(.././fonts/Quicksand-Bold.svg) format('svg');
	font-weight: bold;
	font-style: normal;
}

/** Generated by FG **/
@font-face {
	font-family: 'Quicksand';
	src: url(.././fonts/Quicksand-Light.eot);
	src: local('☺'), url(.././fonts/Quicksand-Light.woff) format('woff'), url(.././fonts/Quicksand-Light.ttf) format('truetype'), url(.././fonts/Quicksand-Light.svg) format('svg');
	font-weight: light;
	font-style: normal;
}

/** Generated by FG **/
@font-face {
	font-family: 'Quicksand';
	src: url(.././fonts/Quicksand-Medium.eot);
	src: local('☺'), url(.././fonts/Quicksand-Medium.woff) format('woff'), url(.././fonts/Quicksand-Medium.ttf) format('truetype'), url(.././fonts/Quicksand-Medium.svg) format('svg');
	font-weight: medium;
	font-style: normal;
}

/** Generated by FG **/
@font-face {
	font-family: 'Quicksand';
	src: url(.././fonts/Quicksand-Regular.eot);
	src: local('☺'), url(.././fonts/Quicksand-Regular.woff) format('woff'), url(.././fonts/Quicksand-Regular.ttf) format('truetype'), url(.././fonts/Quicksand-Regular.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(.././fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(.././fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(.././fonts/MaterialIcons-Regular.woff) format('woff'),
       url(.././fonts/MaterialIcons-Regular.ttf) format('truetype');
}




.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade-{color:#dedede}.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover{color:#c5c5c5}.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade-{color:#dedede}.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade-{color:#fff;background:#a2ddf6}.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade-{background:#8ad5f4}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.1);color:#cccccc}.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.2)}.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty{background:none;border:none}.datepicker--cells{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.datepicker--cell{border-radius:4px;box-sizing:border-box;cursor:pointer;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:32px;z-index:1}.datepicker--cell.-focus-{background:#f0f0f0}.datepicker--cell.-current-{color:#4EB5E6}.datepicker--cell.-current-.-focus-{color:#4a4a4a}.datepicker--cell.-current-.-in-range-{color:#4EB5E6}.datepicker--cell.-in-range-{background:rgba(92,196,239,0.1);color:#4a4a4a;border-radius:0}.datepicker--cell.-in-range-.-focus-{background-color:rgba(92,196,239,0.2)}.datepicker--cell.-disabled-{cursor:default;color:#aeaeae}.datepicker--cell.-disabled-.-focus-{color:#aeaeae}.datepicker--cell.-disabled-.-in-range-{color:#a1a1a1}.datepicker--cell.-disabled-.-current-.-focus-{color:#aeaeae}.datepicker--cell.-range-from-{border:1px solid rgba(92,196,239,0.5);background-color:rgba(92,196,239,0.1);border-radius:4px 0 0 4px}.datepicker--cell.-range-to-{border:1px solid rgba(92,196,239,0.5);background-color:rgba(92,196,239,0.1);border-radius:0 4px 4px 0}.datepicker--cell.-range-from-.-range-to-{border-radius:4px}.datepicker--cell.-selected-{color:#fff;border:none;background:#5cc4ef}.datepicker--cell.-selected-.-current-{color:#fff;background:#5cc4ef}.datepicker--cell.-selected-.-focus-{background:#45bced}.datepicker--cell:empty{cursor:default}.datepicker--days-names{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:8px 0 3px}.datepicker--day-name{color:#FF9A19;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-flex:1;-ms-flex:1;flex:1;text-align:center;text-transform:uppercase;font-size:.8em}.datepicker--cell-day{width:14.28571%}.datepicker--cells-months{height:170px}.datepicker--cell-month{width:33.33%;height:25%}.datepicker--years{height:170px}.datepicker--cells-years{height:170px}.datepicker--cell-year{width:25%;height:33.33%}.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade-{color:#dedede}.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover{color:#c5c5c5}.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade-{color:#dedede}.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade-{color:#fff;background:#a2ddf6}.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade-{background:#8ad5f4}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.1);color:#cccccc}.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.2)}.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty{background:none;border:none}.datepickers-container{position:absolute;left:0;top:0}@media print{.datepickers-container{display:none}}.datepicker{background:#fff;border:1px solid #dbdbdb;box-shadow:0 4px 12px rgba(0,0,0,0.15);border-radius:4px;box-sizing:content-box;font-family:Tahoma, sans-serif;font-size:14px;color:#4a4a4a;width:250px;position:absolute;left:-100000px;opacity:0;transition:opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;transition:opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;transition:opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;z-index:100}.datepicker.-from-top-{-webkit-transform:translateY(-8px);transform:translateY(-8px)}.datepicker.-from-right-{-webkit-transform:translateX(8px);transform:translateX(8px)}.datepicker.-from-bottom-{-webkit-transform:translateY(8px);transform:translateY(8px)}.datepicker.-from-left-{-webkit-transform:translateX(-8px);transform:translateX(-8px)}.datepicker.active{opacity:1;-webkit-transform:translate(0);transform:translate(0);transition:opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;transition:opacity 0.3s ease, transform 0.3s ease, left 0s 0s;transition:opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease}.datepicker-inline .datepicker{border-color:#d7d7d7;box-shadow:none;position:static;left:auto;right:auto;opacity:1;-webkit-transform:none;transform:none}.datepicker-inline .datepicker--pointer{display:none}.datepicker--content{box-sizing:content-box;padding:4px}.-only-timepicker- .datepicker--content{display:none}.datepicker--pointer{position:absolute;background:#fff;border-top:1px solid #dbdbdb;border-right:1px solid #dbdbdb;width:10px;height:10px;z-index:-1}.-top-left- .datepicker--pointer,.-top-center- .datepicker--pointer,.-top-right- .datepicker--pointer{top:calc(100% - 4px);-webkit-transform:rotate(135deg);transform:rotate(135deg)}.-right-top- .datepicker--pointer,.-right-center- .datepicker--pointer,.-right-bottom- .datepicker--pointer{right:calc(100% - 4px);-webkit-transform:rotate(225deg);transform:rotate(225deg)}.-bottom-left- .datepicker--pointer,.-bottom-center- .datepicker--pointer,.-bottom-right- .datepicker--pointer{bottom:calc(100% - 4px);-webkit-transform:rotate(315deg);transform:rotate(315deg)}.-left-top- .datepicker--pointer,.-left-center- .datepicker--pointer,.-left-bottom- .datepicker--pointer{left:calc(100% - 4px);-webkit-transform:rotate(45deg);transform:rotate(45deg)}.-top-left- .datepicker--pointer,.-bottom-left- .datepicker--pointer{left:10px}.-top-right- .datepicker--pointer,.-bottom-right- .datepicker--pointer{right:10px}.-top-center- .datepicker--pointer,.-bottom-center- .datepicker--pointer{left:calc(50% - 10px / 2)}.-left-top- .datepicker--pointer,.-right-top- .datepicker--pointer{top:10px}.-left-bottom- .datepicker--pointer,.-right-bottom- .datepicker--pointer{bottom:10px}.-left-center- .datepicker--pointer,.-right-center- .datepicker--pointer{top:calc(50% - 10px / 2)}.datepicker--body{display:none}.datepicker--body.active{display:block}.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade-{color:#dedede}.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover{color:#c5c5c5}.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade-{color:#dedede}.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade-{color:#fff;background:#a2ddf6}.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade-{background:#8ad5f4}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.1);color:#cccccc}.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.2)}.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty{background:none;border:none}.datepicker--nav{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;border-bottom:1px solid #efefef;min-height:32px;padding:4px}.-only-timepicker- .datepicker--nav{display:none}.datepicker--nav-title,.datepicker--nav-action{display:-webkit-flex;display:-ms-flexbox;display:flex;cursor:pointer;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.datepicker--nav-action{width:32px;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.datepicker--nav-action:hover{background:#f0f0f0}.datepicker--nav-action.-disabled-{visibility:hidden}.datepicker--nav-action svg{width:32px;height:32px}.datepicker--nav-action path{fill:none;stroke:#9c9c9c;stroke-width:2px}.datepicker--nav-title{border-radius:4px;padding:0 8px}.datepicker--nav-title i{font-style:normal;color:#9c9c9c;margin-left:5px}.datepicker--nav-title:hover{background:#f0f0f0}.datepicker--nav-title.-disabled-{cursor:default;background:none}.datepicker--buttons{display:-webkit-flex;display:-ms-flexbox;display:flex;padding:4px;border-top:1px solid #efefef}.datepicker--button{color:#4EB5E6;cursor:pointer;border-radius:4px;-webkit-flex:1;-ms-flex:1;flex:1;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:32px}.datepicker--button:hover{color:#4a4a4a;background:#f0f0f0}.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade-{color:#dedede}.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover{color:#c5c5c5}.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade-{color:#dedede}.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade-{color:#fff;background:#a2ddf6}.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade-{background:#8ad5f4}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.1);color:#cccccc}.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.2)}.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty{background:none;border:none}.datepicker--time{border-top:1px solid #efefef;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:4px;position:relative}.datepicker--time.-am-pm- .datepicker--time-sliders{-webkit-flex:0 1 138px;-ms-flex:0 1 138px;flex:0 1 138px;max-width:138px}.-only-timepicker- .datepicker--time{border-top:none}.datepicker--time-sliders{-webkit-flex:0 1 153px;-ms-flex:0 1 153px;flex:0 1 153px;margin-right:10px;max-width:153px}.datepicker--time-label{display:none;font-size:12px}.datepicker--time-current{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex:1;-ms-flex:1;flex:1;font-size:14px;text-align:center;margin:0 0 0 10px}.datepicker--time-current-colon{margin:0 2px 3px;line-height:1}.datepicker--time-current-hours,.datepicker--time-current-minutes{line-height:1;font-size:19px;font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;position:relative;z-index:1}.datepicker--time-current-hours:after,.datepicker--time-current-minutes:after{content:'';background:#f0f0f0;border-radius:4px;position:absolute;left:-2px;top:-3px;right:-2px;bottom:-2px;z-index:-1;opacity:0}.datepicker--time-current-hours.-focus-:after,.datepicker--time-current-minutes.-focus-:after{opacity:1}.datepicker--time-current-ampm{text-transform:uppercase;-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end;color:#9c9c9c;margin-left:6px;font-size:11px;margin-bottom:1px}.datepicker--time-row{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;font-size:11px;height:17px;background:linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat}.datepicker--time-row:first-child{margin-bottom:4px}.datepicker--time-row input[type='range']{background:none;cursor:pointer;-webkit-flex:1;-ms-flex:1;flex:1;height:100%;padding:0;margin:0;-webkit-appearance:none}.datepicker--time-row input[type='range']::-webkit-slider-thumb{-webkit-appearance:none}.datepicker--time-row input[type='range']::-ms-tooltip{display:none}.datepicker--time-row input[type='range']:hover::-webkit-slider-thumb{border-color:#b8b8b8}.datepicker--time-row input[type='range']:hover::-moz-range-thumb{border-color:#b8b8b8}.datepicker--time-row input[type='range']:hover::-ms-thumb{border-color:#b8b8b8}.datepicker--time-row input[type='range']:focus{outline:none}.datepicker--time-row input[type='range']:focus::-webkit-slider-thumb{background:#5cc4ef;border-color:#5cc4ef}.datepicker--time-row input[type='range']:focus::-moz-range-thumb{background:#5cc4ef;border-color:#5cc4ef}.datepicker--time-row input[type='range']:focus::-ms-thumb{background:#5cc4ef;border-color:#5cc4ef}.datepicker--time-row input[type='range']::-webkit-slider-thumb{box-sizing:border-box;height:12px;width:12px;border-radius:3px;border:1px solid #dedede;background:#fff;cursor:pointer;transition:background .2s}.datepicker--time-row input[type='range']::-moz-range-thumb{box-sizing:border-box;height:12px;width:12px;border-radius:3px;border:1px solid #dedede;background:#fff;cursor:pointer;transition:background .2s}.datepicker--time-row input[type='range']::-ms-thumb{box-sizing:border-box;height:12px;width:12px;border-radius:3px;border:1px solid #dedede;background:#fff;cursor:pointer;transition:background .2s}.datepicker--time-row input[type='range']::-webkit-slider-thumb{margin-top:-6px}.datepicker--time-row input[type='range']::-webkit-slider-runnable-track{border:none;height:1px;cursor:pointer;color:transparent;background:transparent}.datepicker--time-row input[type='range']::-moz-range-track{border:none;height:1px;cursor:pointer;color:transparent;background:transparent}.datepicker--time-row input[type='range']::-ms-track{border:none;height:1px;cursor:pointer;color:transparent;background:transparent}.datepicker--time-row input[type='range']::-ms-fill-lower{background:transparent}.datepicker--time-row input[type='range']::-ms-fill-upper{background:transparent}.datepicker--time-row span{padding:0 12px}.datepicker--time-icon{color:#9c9c9c;border:1px solid;border-radius:50%;font-size:16px;position:relative;margin:0 5px -1px 0;width:1em;height:1em}.datepicker--time-icon:after,.datepicker--time-icon:before{content:'';background:currentColor;position:absolute}.datepicker--time-icon:after{height:.4em;width:1px;left:calc(50% - 1px);top:calc(50% + 1px);-webkit-transform:translateY(-100%);transform:translateY(-100%)}.datepicker--time-icon:before{width:.4em;height:1px;top:calc(50% + 1px);left:calc(50% - 1px)}.datepicker--cell-day.-other-month-,.datepicker--cell-year.-other-decade-{color:#dedede}.datepicker--cell-day.-other-month-:hover,.datepicker--cell-year.-other-decade-:hover{color:#c5c5c5}.-disabled-.-focus-.datepicker--cell-day.-other-month-,.-disabled-.-focus-.datepicker--cell-year.-other-decade-{color:#dedede}.-selected-.datepicker--cell-day.-other-month-,.-selected-.datepicker--cell-year.-other-decade-{color:#fff;background:#a2ddf6}.-selected-.-focus-.datepicker--cell-day.-other-month-,.-selected-.-focus-.datepicker--cell-year.-other-decade-{background:#8ad5f4}.-in-range-.datepicker--cell-day.-other-month-,.-in-range-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.1);color:#cccccc}.-in-range-.-focus-.datepicker--cell-day.-other-month-,.-in-range-.-focus-.datepicker--cell-year.-other-decade-{background-color:rgba(92,196,239,0.2)}.datepicker--cell-day.-other-month-:empty,.datepicker--cell-year.-other-decade-:empty{background:none;border:none}

.material-icons,.header__menu-item_sub::after,.button-submit__icon,.datepicker--nav-action{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}.button{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;margin:0;padding:0 18px 0 17px;color:white;height:40px;margin:0 2px;background:transparent;border-radius:22px;box-sizing:border-box;border:0;align-items:center;cursor:pointer}.button:focus{outline:none}.button::-moz-focus-inner{border:0}.button__outer{display:flex;align-items:center;margin:0;padding:0;height:44px;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);border-radius:22px;box-sizing:border-box;border:0}.button__outer_opacity50{opacity:0.5}.button_white{background-color:white;color:#BC9CFF}.button__outer_none{height:0;border:0;background:none}.button_minimal{color:#BC9CFF;margin:0;padding:0;height:auto}.button_minimal-disabled{color:rgba(31,32,65,0.5);margin:0;padding:0;height:auto}.toxin__logo{margin:0}.toxin__logos{display:grid;grid-auto-flow:column;grid-gap:12px;padding:0;align-items:center;justify-content:left}.toxin__text{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:17px 0 28px 0;color:rgba(31,32,65,0.75)}.header__left{display:flex}.header__right{display:flex;align-items:center;flex-wrap:wrap}.header__menu{display:flex;margin:0;padding:0;flex-wrap:wrap}.header__menu-item{display:flex;margin:0 24px 0 0;position:relative}.header__menu-item a{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);font-size:14px;color:rgba(31,32,65,0.5);text-decoration:none}.header__menu-item:hover>a{color:rgba(31,32,65,0.75)}@media screen and (max-width: 700px){.header__menu-item{min-width:320px}}.header__menu-item_sub::after{content:'keyboard_arrow_down';color:rgba(31,32,65,0.5);margin:0 -10px 0 0;padding:0;display:flex}.header__menu-item_sub:hover .header__submenu{display:block}.header__menu-item_selected a{font-weight:bold;color:rgba(31,32,65,0.75)}.header__submenu{display:none;position:absolute;background:white;top:20px;left:20px;box-shadow:0px 0px 25px rgba(0,0,0,0.2);list-style-type:none;margin:0;padding:0;z-index:5}.header__submenu-item{height:20px;padding:5px 10px 10px 10px;margin:0;min-width:100px;border-bottom:1px solid rgba(31,32,65,0.05)}.header__submenu-item:hover>a{color:rgba(31,32,65,0.75)}.header__controls{display:flex;flex-wrap:wrap}.header__profile{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);font-size:14px;color:rgba(31,32,65,0.5);margin:0 0 0 35px}.header__controls_hide{display:none}.header__profile_hide{display:none}.header{display:flex;min-height:70px;background-color:white;box-sizing:border-box;padding:0 9.8% 0 9.7%;margin:0;align-items:center;justify-content:space-between;box-shadow:0px 10px 20px rgba(31,32,65,0.05);flex-wrap:wrap}@media (max-width: 380px){.header{padding:0 3% 0 3%}}.page{background:url(.././static/logo.svg) 24px 24px no-repeat}.flex-container{display:flex;justify-content:space-around;flex-wrap:wrap;padding:0;margin:0;box-sizing:border-box}.flex-container_space-between{justify-content:space-between}.flex-container_width320{width:320px}.flex-container_flex-start{justify-content:flex-start}.flex-container_vertical{flex-direction:column}.label,.dropdown__label{padding:0;margin:0;display:grid;grid-row-gap:5px;grid-template-columns:1fr}.label__title,.num-select__label{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;padding:0;margin:0}.label__header{display:flex;margin:0;padding:0;justify-content:space-between}.label__comment{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;color:rgba(31,32,65,0.5);margin:0;padding:0;font-weight:normal}.dropdown{position:relative;margin:0;padding:0;display:flex;flex-direction:column;justify-content:flex-start}.dropdown__frame{display:grid;grid-template-columns:1fr 42px;align-items:center;justify-content:start;margin:0;padding:0;height:44px;box-sizing:border-box;border-radius:4px;box-sizing:border-box;background-color:#FFFFFF;border:1px solid rgba(31,32,65,0.25);color:rgba(31,32,65,0.25)}.dropdown__frame:hover{border-color:rgba(31,32,65,0.5);color:rgba(31,32,65,0.5)}.dropdown__field{display:flex;align-items:center;font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:0;padding:0 0 0 14px;border:0;height:42px;width:100%;background-color:#FFFFFF;color:rgba(31,32,65,0.75);cursor:pointer;grid-column:1}.dropdown__field::placeholder{opacity:1;color:rgba(31,32,65,0.25)}.dropdown__field:hover::placeholder{color:rgba(31,32,65,0.75)}.dropdown__btndown{display:flex;align-items:center;justify-content:center;padding:0 2px 0 0;margin:0;width:42px;height:42px;cursor:pointer;grid-column:2}.dropdown__select{display:none}.dropdown__dropdown{display:none;position:absolute;min-width:100%;padding:0 0 18px 0;top:43px;margin:0;border:1px solid rgba(31,32,65,0.5);box-shadow:0px 10px 20px rgba(31,32,65,0.05);box-sizing:border-box;border-radius:0 0 4px 4px;background-color:white;z-index:3}.dropdown__dropdown_visible{display:flex;flex-direction:column}.dropdown__frame_hover{border-color:rgba(31,32,65,0.5)}.dropdown__frame_dropdown{border-radius:4px 4px 0 0}.dropdown__label{margin:0 0 5px 0}.dropdown__controls{display:none;justify-content:space-between;flex-direction:row-reverse}.dropdown__applybtn{padding:16px 20px 0 0;margin:0;text-align:right;font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;color:#BC9CFF;cursor:pointer;align-self:flex-end}.dropdown__clearbtn{padding:16px 0 0 20px;margin:0;display:none;text-align:left;font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;color:rgba(31,32,65,0.5);cursor:pointer;align-self:flex-start}.dropdown__clearbtn_visible{display:block}.dropdown__controls_visible{display:flex}.dropdown__frame_red{border:1px solid rgba(255,0,0,0.25);box-shadow:0 0 5px rgba(255,0,0,0.25)}.label,.dropdown__label{padding:0;margin:0;display:grid;grid-row-gap:5px;grid-template-columns:1fr}.label__title,.num-select__label{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;padding:0;margin:0}.label__header{display:flex;margin:0;padding:0;justify-content:space-between}.label__comment{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;color:rgba(31,32,65,0.5);margin:0;padding:0;font-weight:normal}.spacer-block{padding:0;margin:0}.button-submit{margin:0;padding:0;position:relative;width:320px;height:44px;cursor:pointer;display:flex;align-items:center}.button-submit__icon{color:white;position:absolute;right:10px;box-sizing:border-box}.button-submit__input{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;height:44px;width:320px;box-sizing:border-box;margin:0;padding:0;text-align:center;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);color:white;border:0;border-radius:22px;cursor:pointer}.button-submit__input:focus{outline:none}.button-submit__input::-moz-focus-inner{border:0}.datepicker-here{padding:0;margin:0}.datepicker{margin:0;width:318px;padding:6px 16px;box-sizing:border-box;border:none}.datepicker--nav{border:0;margin:0;padding:5px 0 5px 0}.datepicker--nav-action{border-radius:50%;width:40px;height:40px;color:#BC9CFF;font-size:24px}.datepicker--nav-title{font-family:Quicksand, Sans;font-style:normal;font-weight:bold;font-size:19px;line-height:24px;letter-spacing:0.15px;color:#1f2041;border-radius:20px}.datepicker--nav-title i{font-family:Quicksand, Sans;font-style:normal;font-weight:bold;font-size:19px;line-height:24px;letter-spacing:0.15px;color:#1f2041;color:#1f2041}.datepicker--days-names{margin:23px 0 7px 0}.datepicker--day-name{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:#BC9CFF;text-transform:none;font-weight:bold;font-size:12px}.datepicker--cell{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.5);font-size:12px;height:40px;width:39.5px;border-radius:50%}.datepicker--cell.-current-{color:white;font-weight:bold;background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)}.datepicker--cell.-current-.-focus-{color:white;font-weight:bold;background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)}.datepicker--cell.-selected-.-current-{background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);font-weight:bold;border-radius:50%}.datepicker--cell.-selected-{background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);font-weight:bold}.datepicker--cell.-selected-.-focus-{background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);font-weight:bold}.datepicker--cell.-other-month-{color:rgba(31,32,65,0.25)}.datepicker--cell.-range-from-{border-radius:50%;border:none;color:white;font-weight:bold;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)}.datepicker--cell.-range-to-{border-radius:50%;border:none;color:white;font-weight:bold;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)}.datepicker--cell.-in-range-{background:linear-gradient(to right, rgba(188,156,255,0.266667), rgba(139,164,249,0.266667));color:rgba(31,32,65,0.5)}.datepicker--cell.-range-from-::before{content:'';position:absolute;padding:0;width:39.5px;height:40px;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);opacity:0.25;border-radius:20px 0 0 20px}.datepicker--cell.-range-to-::before{content:'';position:absolute;padding:0;width:39.5px;height:40px;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);opacity:0.25;border-radius:0 20px 20px 0}.numpad{width:94px;height:29px;padding:0 0 0 0;display:flex;box-sizing:border-box}.numpad__input{width:32px;padding:0 0 0 0;margin:-4px 0 0 0;border:0;text-align:center;font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;-moz-appearance:textfield}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}.numpad__btn,.numpad__btn_inc,.numpad__btn_dec{display:flex;font-family:Montserrat;font-weight:normal;font-style:normal;font-size:18px;line-height:22px;color:rgba(31,32,65,0.5);text-align:center;align-items:center;justify-content:space-around;width:30px;height:30px;border-radius:50%;border:1px solid rgba(31,32,65,0.25);cursor:pointer;box-sizing:border-box}.numpad__btn.numpad__btn_enabled:hover,.numpad__btn_enabled.numpad__btn_inc:hover,.numpad__btn_enabled.numpad__btn_dec:hover{color:rgba(31,32,65,0.75);border-color:rgba(31,32,65,0.5)}.numpad__btn_disabled{border:1px solid rgba(31,32,65,0.1);color:rgba(31,32,65,0.25)}.num-select{width:318;display:flex;justify-content:space-between;align-items:center;padding:4px 4px 4px 14px}.room-search{padding:40px 0px 30px 0px;max-width:382px;min-width:320px;height:374px;box-sizing:border-box;border:1px solid rgba(0,0,0,0.12);box-shadow:0px 0px 25px rgba(0,0,0,0.2);border-radius:4px;background-color:white}.room-search__caption{font-family:Quicksand, Sans;font-style:normal;font-weight:bold;font-size:24px;line-height:30px;letter-spacing:-0.1px;color:#1f2041}.room-search__form{width:320px;margin:0 auto}.input,.subscription-field__input{display:flex;justify-content:space-between;align-items:center;font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:0;padding:0 14px 0 14px;height:44px;box-sizing:border-box;border-radius:4px;background-color:#FFFFFF;border:1px solid rgba(31,32,65,0.25);color:rgba(31,32,65,0.25);width:100%}.input_hover,.input:hover,.subscription-field__input:hover,.input:focus,.subscription-field__input:focus{border-color:rgba(31,32,65,0.5);color:rgba(31,32,65,0.75)}.input::placeholder,.subscription-field__input::placeholder{opacity:1;color:rgba(31,32,65,0.25)}.input:hover::placeholder,.subscription-field__input:hover::placeholder{color:rgba(31,32,65,0.75)}.subscription-field{padding:0;margin:0}.subscription-field__btn{width:42px;height:42px;padding:0;margin:0;display:flex;align-items:center;justify-content:center;cursor:pointer;color:#BC9CFF;grid-column:2;border:0;background:none;outline:0}.subscription-field__btn::-moz-focus-inner{border:0}.subscription-field__input{border:0;margin:0;padding:0;height:24px;color:inherit;box-sizing:border-box;grid-column:1}.subscription-field__frame{display:grid;grid-template-columns:1fr 42px;padding-right:0}.toxin__logo{margin:0}.toxin__logos{display:grid;grid-auto-flow:column;grid-gap:12px;padding:0;align-items:center;justify-content:left}.toxin__text{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:17px 0 28px 0;color:rgba(31,32,65,0.75)}.footer{display:flex;padding:100px 9.7% 0px 9.7%;margin:0;background-color:white;box-sizing:border-box;box-shadow:0px 1px 0px rgba(31,32,65,0.1);min-height:372px;flex-wrap:wrap;justify-content:space-between}.footer__column260,.footer__column160{width:260px;padding:0;margin:0 40px 0 0}.footer__column160{width:160px;padding:0}.footer__text{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:17px 0 22px 0;color:rgba(31,32,65,0.75)}.footer__list{list-style-type:none;margin:5px 0 0 0;padding:0}.footer__list-item{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);padding:0;margin:0 0 14px 0;color:#1f2041}.footer__list-title{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;margin:0 0 18px 0;padding:0}.footer__link{color:inherit;text-decoration:none}.social{display:grid;grid-gap:20px;grid-auto-flow:column}.social__item{width:24px;height:24px}.social__item use{fill:url("#fill")}.copyright{display:flex;background:white;height:70px;padding:0 9.7% 0 9.7%;justify-content:space-between;align-items:center;box-shadow:0px 10px 20px rgba(31,32,65,0.05)}.copyright__left{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.75);margin:0;padding:0}.spacer-block{padding:0;margin:0}.landing{background:#F4F4F6;padding:0;margin:0}.landing__main{background:top left/cover no-repeat url(.././static/landing-back2.jpg);padding:70px 10.5% 0 9.7%;position:relative;height:760px}@media (max-width: 355px){.landing__main{padding:0;height:374px;background:none}.landing__textblock{display:none}}.landing__textblock{position:absolute;font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.75);width:297px;right:134px;bottom:20px;text-align:right}

