/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url(.././fonts/Montserrat-Thin.eot);
    src: url(.././fonts/Montserrat-Thin.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Thin.woff2) format("woff2"),
         url(.././fonts/Montserrat-Thin.woff) format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url(.././fonts/Montserrat-ThinItalic.eot);
    src: url(.././fonts/Montserrat-ThinItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-ThinItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-ThinItalic.woff) format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url(.././fonts/Montserrat-ExtraLight.eot);
    src: url(.././fonts/Montserrat-ExtraLight.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-ExtraLight.woff2) format("woff2"),
         url(.././fonts/Montserrat-ExtraLight.woff) format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url(.././fonts/Montserrat-ExtraLightItalic.eot);
    src: url(.././fonts/Montserrat-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-ExtraLightItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-ExtraLightItalic.woff) format("woff");
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url(.././fonts/Montserrat-Light.eot);
    src: url(.././fonts/Montserrat-Light.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Light.woff2) format("woff2"),
         url(.././fonts/Montserrat-Light.woff) format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url(.././fonts/Montserrat-LightItalic.eot);
    src: url(.././fonts/Montserrat-LightItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-LightItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-LightItalic.woff) format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url(.././fonts/Montserrat-Regular.eot);
    src: url(.././fonts/Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Regular.woff2) format("woff2"),
         url(.././fonts/Montserrat-Regular.woff) format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url(.././fonts/Montserrat-Italic.eot);
    src: url(.././fonts/Montserrat-Italic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Italic.woff2) format("woff2"),
         url(.././fonts/Montserrat-Italic.woff) format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url(.././fonts/Montserrat-Medium.eot);
    src: url(.././fonts/Montserrat-Medium.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Medium.woff2) format("woff2"),
         url(.././fonts/Montserrat-Medium.woff) format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url(.././fonts/Montserrat-MediumItalic.eot);
    src: url(.././fonts/Montserrat-MediumItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-MediumItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-MediumItalic.woff) format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url(.././fonts/Montserrat-SemiBold.eot);
    src: url(.././fonts/Montserrat-SemiBold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-SemiBold.woff2) format("woff2"),
         url(.././fonts/Montserrat-SemiBold.woff) format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url(.././fonts/Montserrat-SemiBoldItalic.eot);
    src: url(.././fonts/Montserrat-SemiBoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-SemiBoldItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-SemiBoldItalic.woff) format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url(.././fonts/Montserrat-Bold.eot);
    src: url(.././fonts/Montserrat-Bold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Bold.woff2) format("woff2"),
         url(.././fonts/Montserrat-Bold.woff) format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url(.././fonts/Montserrat-BoldItalic.eot);
    src: url(.././fonts/Montserrat-BoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-BoldItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-BoldItalic.woff) format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url(.././fonts/Montserrat-ExtraBold.eot);
    src: url(.././fonts/Montserrat-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-ExtraBold.woff2) format("woff2"),
         url(.././fonts/Montserrat-ExtraBold.woff) format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url(.././fonts/Montserrat-ExtraBoldItalic.eot);
    src: url(.././fonts/Montserrat-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-ExtraBoldItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-ExtraBoldItalic.woff) format("woff");
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url(.././fonts/Montserrat-Black.eot);
    src: url(.././fonts/Montserrat-Black.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-Black.woff2) format("woff2"),
         url(.././fonts/Montserrat-Black.woff) format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url(.././fonts/Montserrat-BlackItalic.eot);
    src: url(.././fonts/Montserrat-BlackItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/Montserrat-BlackItalic.woff2) format("woff2"),
         url(.././fonts/Montserrat-BlackItalic.woff) format("woff");
}

/** =================== MONTSERRAT ALTERNATES =================== **/

/** Montserrat Alternates Thin **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Thin.eot);
    src: url(.././fonts/MontserratAlternates-Thin.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Thin.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Thin.woff) format("woff");
}

/** Montserrat Alternates Thin-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-ThinItalic.eot);
    src: url(.././fonts/MontserratAlternates-ThinItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-ThinItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-ThinItalic.woff) format("woff");
}

/** Montserrat Alternates ExtraLight **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-ExtraLight.eot);
    src: url(.././fonts/MontserratAlternates-ExtraLight.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-ExtraLight.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-ExtraLight.woff) format("woff");
}

/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-ExtraLightItalic.eot);
    src: url(.././fonts/MontserratAlternates-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-ExtraLightItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-ExtraLightItalic.woff) format("woff");
}

/** Montserrat Alternates Light **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Light.eot);
    src: url(.././fonts/MontserratAlternates-Light.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Light.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Light.woff) format("woff");
}

/** Montserrat Alternates Light-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-LightItalic.eot);
    src: url(.././fonts/MontserratAlternates-LightItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-LightItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-LightItalic.woff) format("woff");
}

/** Montserrat Alternates Regular **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Regular.eot);
    src: url(.././fonts/MontserratAlternates-Regular.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Regular.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Regular.woff) format("woff");
}

/** Montserrat Alternates Regular-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-Italic.eot);
    src: url(.././fonts/MontserratAlternates-Italic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Italic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Italic.woff) format("woff");
}

/** Montserrat Alternates Medium **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Medium.eot);
    src: url(.././fonts/MontserratAlternates-Medium.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Medium.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Medium.woff) format("woff");
}

/** Montserrat Alternates Medium-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-MediumItalic.eot);
    src: url(.././fonts/MontserratAlternates-MediumItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-MediumItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-MediumItalic.woff) format("woff");
}

/** Montserrat Alternates SemiBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-SemiBold.eot);
    src: url(.././fonts/MontserratAlternates-SemiBold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-SemiBold.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-SemiBold.woff) format("woff");
}

/** Montserrat Alternates SemiBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-SemiBoldItalic.eot);
    src: url(.././fonts/MontserratAlternates-SemiBoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-SemiBoldItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-SemiBoldItalic.woff) format("woff");
}

/** Montserrat Alternates Bold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Bold.eot);
    src: url(.././fonts/MontserratAlternates-Bold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Bold.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Bold.woff) format("woff");
}

/** Montserrat Alternates Bold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-BoldItalic.eot);
    src: url(.././fonts/MontserratAlternates-BoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-BoldItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-BoldItalic.woff) format("woff");
}

/** Montserrat Alternates ExtraBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-ExtraBold.eot);
    src: url(.././fonts/MontserratAlternates-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-ExtraBold.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-ExtraBold.woff) format("woff");
}

/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-ExtraBoldItalic.eot);
    src: url(.././fonts/MontserratAlternates-ExtraBoldItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-ExtraBoldItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-ExtraBoldItalic.woff) format("woff");
}

/** Montserrat Alternates Black **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 900;
    font-style: normal;
    src: url(.././fonts/MontserratAlternates-Black.eot);
    src: url(.././fonts/MontserratAlternates-Black.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-Black.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-Black.woff) format("woff");
}

/** Montserrat Alternates Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url(.././fonts/MontserratAlternates-BlackItalic.eot);
    src: url(.././fonts/MontserratAlternates-BlackItalic.eot?#iefix) format('embedded-opentype'),
         url(.././fonts/MontserratAlternates-BlackItalic.woff2) format("woff2"),
         url(.././fonts/MontserratAlternates-BlackItalic.woff) format("woff");
}
/** Generated by FG **/
@font-face {
	font-family: 'Quicksand';
	src: url(.././fonts/Quicksand-Bold.eot);
	src: local('☺'), url(.././fonts/Quicksand-Bold.woff) format('woff'), url(.././fonts/Quicksand-Bold.ttf) format('truetype'), url(.././fonts/Quicksand-Bold.svg) format('svg');
	font-weight: bold;
	font-style: normal;
}

/** Generated by FG **/
@font-face {
	font-family: 'Quicksand';
	src: url(.././fonts/Quicksand-Light.eot);
	src: local('☺'), url(.././fonts/Quicksand-Light.woff) format('woff'), url(.././fonts/Quicksand-Light.ttf) format('truetype'), url(.././fonts/Quicksand-Light.svg) format('svg');
	font-weight: light;
	font-style: normal;
}

/** Generated by FG **/
@font-face {
	font-family: 'Quicksand';
	src: url(.././fonts/Quicksand-Medium.eot);
	src: local('☺'), url(.././fonts/Quicksand-Medium.woff) format('woff'), url(.././fonts/Quicksand-Medium.ttf) format('truetype'), url(.././fonts/Quicksand-Medium.svg) format('svg');
	font-weight: medium;
	font-style: normal;
}

/** Generated by FG **/
@font-face {
	font-family: 'Quicksand';
	src: url(.././fonts/Quicksand-Regular.eot);
	src: local('☺'), url(.././fonts/Quicksand-Regular.woff) format('woff'), url(.././fonts/Quicksand-Regular.ttf) format('truetype'), url(.././fonts/Quicksand-Regular.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(.././fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(.././fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(.././fonts/MaterialIcons-Regular.woff) format('woff'),
       url(.././fonts/MaterialIcons-Regular.ttf) format('truetype');
}


@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url(.././fonts/opensanslight.woff2) format('woff2'), url(.././fonts/opensanslight.woff) format('woff'), url(.././fonts/opensanslight.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(.././fonts/opensanslightitalic.woff2) format('woff2'), url(.././fonts/opensanslightitalic.woff) format('woff'), url(.././fonts/opensanslightitalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url(.././fonts/opensans.woff2) format('woff2'), url(.././fonts/opensans.woff) format('woff'), url(.././fonts/opensans.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(.././fonts/opensansitalic.woff2) format('woff2'), url(.././fonts/opensansitalic.woff) format('woff'), url(.././fonts/opensansitalic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(.././fonts/opensanssemibold.woff2) format('woff2'), url(.././fonts/opensanssemibold.woff) format('woff'), url(.././fonts/opensanssemibold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(.././fonts/opensanssemibolditalic.woff2) format('woff2'), url(.././fonts/opensanssemibolditalic.woff) format('woff'), url(.././fonts/opensanssemibolditalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(.././fonts/opensansbold.woff2) format('woff2'), url(.././fonts/opensansbold.woff) format('woff'), url(.././fonts/opensansbold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(.././fonts/opensansbolditalic.woff2) format('woff2'), url(.././fonts/opensansbolditalic.woff) format('woff'), url(.././fonts/opensansbolditalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(.././fonts/opensansextrabold.woff2) format('woff2'), url(.././fonts/opensansextrabold.woff) format('woff'), url(.././fonts/opensansextrabold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(.././fonts/opensansextrabolditalic.woff2) format('woff2'), url(.././fonts/opensansextrabolditalic.woff) format('woff'), url(.././fonts/opensansextrabolditalic.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}



.material-icons,.header__menu-item_sub::after,.button-submit__icon,.likebtn__heart{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}.purple-gradient{background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)}.green-gradient{background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)}.yellow-gradient{background:linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%)}.black-gradient{background:linear-gradient(180deg, #919191 0%, #3D4975 100%)}.button{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;margin:0;padding:0 18px 0 17px;color:white;height:40px;margin:0 2px;background:transparent;border-radius:22px;box-sizing:border-box;border:0;align-items:center;cursor:pointer}.button:focus{outline:none}.button::-moz-focus-inner{border:0}.button__outer{display:flex;align-items:center;margin:0;padding:0;height:44px;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);border-radius:22px;box-sizing:border-box;border:0}.button__outer_opacity50{opacity:0.5}.button_white{background-color:white;color:#BC9CFF}.button__outer_none{height:0;border:0;background:none}.button_minimal{color:#BC9CFF;margin:0;padding:0;height:auto}.button_minimal-disabled{color:rgba(31,32,65,0.5);margin:0;padding:0;height:auto}.toxin__logo{margin:0}.toxin__logos{display:grid;grid-auto-flow:column;grid-gap:12px;padding:0;align-items:center;justify-content:left}.toxin__text{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:17px 0 28px 0;color:rgba(31,32,65,0.75)}.header__left{display:flex}.header__right{display:flex;align-items:center;flex-wrap:wrap}.header__menu{display:flex;margin:0;padding:0;flex-wrap:wrap}.header__menu-item{display:flex;margin:0 24px 0 0;position:relative}.header__menu-item a{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);font-size:14px;color:rgba(31,32,65,0.5);text-decoration:none}.header__menu-item:hover>a{color:rgba(31,32,65,0.75)}@media screen and (max-width: 700px){.header__menu-item{min-width:240px}}.header__menu-item_sub::after{content:'keyboard_arrow_down';color:rgba(31,32,65,0.5);margin:0 -10px 0 0;padding:2px 0 0 0;display:flex}.header__menu-item_sub:hover .header__submenu{display:block}.header__menu-item_selected a{font-weight:bold;color:rgba(31,32,65,0.75)}.header__submenu{display:none;position:absolute;background:white;top:20px;right:0px;box-shadow:0px 0px 25px rgba(0,0,0,0.2);list-style-type:none;margin:0;padding:0;z-index:5}.header__submenu-item{height:20px;padding:5px 10px 10px 10px;margin:0;min-width:100px;border-bottom:1px solid rgba(31,32,65,0.05)}.header__submenu-item:hover>a{color:rgba(31,32,65,0.75)}.header__controls{display:flex;flex-wrap:wrap}.header__profile{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);font-size:14px;color:rgba(31,32,65,0.5);margin:0 0 0 35px}.header__controls_hide{display:none}.header__profile_hide{display:none}.header{display:flex;min-height:70px;background-color:white;box-sizing:border-box;padding:0 9.8% 0 9.7%;margin:0;align-items:center;justify-content:space-between;box-shadow:0px 10px 20px rgba(31,32,65,0.05);flex-wrap:wrap}@media (max-width: 380px){.header{padding:0 30px}}.input,.subscription-field__input{display:flex;justify-content:space-between;align-items:center;font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:0;padding:0 14px 0 14px;height:44px;box-sizing:border-box;border-radius:4px;background-color:#FFFFFF;border:1px solid rgba(31,32,65,0.25);color:rgba(31,32,65,0.25);width:100%}.input_hover,.input:hover,.subscription-field__input:hover,.input:focus,.subscription-field__input:focus{border-color:rgba(31,32,65,0.5);color:rgba(31,32,65,0.75)}.input::placeholder,.subscription-field__input::placeholder{opacity:1;color:rgba(31,32,65,0.25)}.input:hover::placeholder,.subscription-field__input:hover::placeholder{color:rgba(31,32,65,0.75)}.subscription-field{padding:0;margin:0}.subscription-field__btn{width:42px;height:42px;padding:0;margin:0;display:flex;align-items:center;justify-content:center;cursor:pointer;color:#BC9CFF;grid-column:2;border:0;background:none;outline:0}.subscription-field__btn::-moz-focus-inner{border:0}.subscription-field__input{border:0;margin:0;padding:0;height:24px;color:inherit;box-sizing:border-box;grid-column:1}.subscription-field__frame{display:grid;grid-template-columns:1fr 42px;padding-right:0}.toxin__logo{margin:0}.toxin__logos{display:grid;grid-auto-flow:column;grid-gap:12px;padding:0;align-items:center;justify-content:left}.toxin__text{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:17px 0 28px 0;color:rgba(31,32,65,0.75)}.footer{display:flex;padding:100px 9.7% 0px 9.7%;margin:0;background-color:white;box-sizing:border-box;box-shadow:0px 1px 0px rgba(31,32,65,0.1);min-height:372px;flex-wrap:wrap;justify-content:space-between}.footer__column260,.footer__column160{width:260px;padding:0;margin:0 40px 0 0}.footer__column160{width:160px;padding:0}.footer__text{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:17px 0 22px 0;color:rgba(31,32,65,0.75)}.footer__list{list-style-type:none;margin:5px 0 0 0;padding:0}.footer__list-item{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);padding:0;margin:0 0 14px 0;color:#1f2041}.footer__list-title{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;margin:0 0 18px 0;padding:0}.footer__link{color:inherit;text-decoration:none}.social{display:grid;grid-gap:20px;grid-auto-flow:column}.social__item{width:24px;height:24px}.social__item use{fill:url("#fill")}.copyright{display:flex;background:white;height:70px;padding:0 9.7% 0 9.7%;justify-content:space-between;align-items:center;box-shadow:0px 10px 20px rgba(31,32,65,0.05)}.copyright__left{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.75);margin:0;padding:0}.spacer-block{padding:0;margin:0}.feature{display:flex;padding:0 0 20px 0;margin:0;border-bottom:1px solid rgba(31,32,65,0.1);width:280px}.feature__content{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:0;padding:0}.feature__content-box{padding:0px 10px;display:flex;flex-direction:column}.feature__title{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);font-weight:bold;margin:0;padding:0}.feature__picture{width:48px;height:48px;margin:0;padding:0}.info{display:flex;justify-content:center;align-items:center;width:18px;height:18px;border:1px solid rgba(31,32,65,0.25);boxing-size:border-box;border-radius:50%;font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.25);font-size:12px;line-height:18px;cursor:pointer;font-weight:bold}.info:hover{color:#BC9CFF;border:1px solid #BC9CFF}.label,.dropdown__label{padding:0;margin:0;display:grid;grid-row-gap:5px;grid-template-columns:1fr}.label__title{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;padding:0;margin:0}.label__header{display:flex;margin:0;padding:0;justify-content:space-between}.label__comment{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;color:rgba(31,32,65,0.5);margin:0;padding:0;font-weight:normal}.dropdown{position:relative;margin:0;padding:0;display:flex;flex-direction:column;justify-content:flex-start}.dropdown__frame{display:grid;grid-template-columns:1fr 42px;align-items:center;justify-content:start;margin:0;padding:0;height:44px;box-sizing:border-box;border-radius:4px;box-sizing:border-box;background-color:#FFFFFF;border:1px solid rgba(31,32,65,0.25);color:rgba(31,32,65,0.25)}.dropdown__frame:hover{border-color:rgba(31,32,65,0.5);color:rgba(31,32,65,0.5)}.dropdown__field{display:flex;align-items:center;font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);margin:0;padding:0 0 0 14px;border:0;height:42px;width:100%;background-color:#FFFFFF;color:rgba(31,32,65,0.75);cursor:pointer;grid-column:1}.dropdown__field::placeholder{opacity:1;color:rgba(31,32,65,0.25)}.dropdown__field:hover::placeholder{color:rgba(31,32,65,0.75)}.dropdown__btndown{display:flex;align-items:center;justify-content:center;padding:0 2px 0 0;margin:0;width:42px;height:42px;cursor:pointer;grid-column:2}.dropdown__select{display:none}.dropdown__dropdown{display:none;position:absolute;min-width:100%;padding:0 0 18px 0;top:43px;margin:0;border:1px solid rgba(31,32,65,0.5);box-shadow:0px 10px 20px rgba(31,32,65,0.05);box-sizing:border-box;border-radius:0 0 4px 4px;background-color:white;z-index:3}.dropdown__dropdown_visible{display:flex;flex-direction:column}.dropdown__frame_hover{border-color:rgba(31,32,65,0.5)}.dropdown__frame_dropdown{border-radius:4px 4px 0 0}.dropdown__label{margin:0 0 5px 0}.dropdown__controls{display:none;justify-content:space-between;flex-direction:row-reverse}.dropdown__applybtn{padding:16px 20px 0 0;margin:0;text-align:right;font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;color:#BC9CFF;cursor:pointer;align-self:flex-end}.dropdown__clearbtn{padding:16px 0 0 20px;margin:0;display:none;text-align:left;font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;color:rgba(31,32,65,0.5);cursor:pointer;align-self:flex-start}.dropdown__clearbtn_visible{display:block}.dropdown__controls_visible{display:flex}.dropdown__frame_red{border:1px solid rgba(255,0,0,0.25);box-shadow:0 0 5px rgba(255,0,0,0.25)}.label,.dropdown__label{padding:0;margin:0;display:grid;grid-row-gap:5px;grid-template-columns:1fr}.label__title{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;padding:0;margin:0}.label__header{display:flex;margin:0;padding:0;justify-content:space-between}.label__comment{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;color:rgba(31,32,65,0.5);margin:0;padding:0;font-weight:normal}.button-submit{margin:0;padding:0;position:relative;max-width:320px;height:44px;cursor:pointer;display:flex;align-items:center}.button-submit__icon{color:white;position:absolute;right:10px;box-sizing:border-box}.button-submit__input{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;height:44px;width:320px;box-sizing:border-box;margin:0;padding:0;text-align:center;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);color:white;border:0;border-radius:22px;cursor:pointer}.button-submit__input:focus{outline:none}.button-submit__input::-moz-focus-inner{border:0}.spacer-block{padding:0;margin:0}.booking{max-width:380px;min-width:320px;min-height:511px;padding:40px 0 28px 0;border:1px solid rgba(0,0,0,0.12);border-radius:4px;box-shadow:0px 0px 25px rgba(0,0,0,0.2);box-sizing:border-box;background-color:white}.booking__bodytext{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);display:inline;color:rgba(31,32,65,0.75);font-size:14px;line-height:18px;padding:0;margin:0}.booking__cost-value{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;color:rgba(31,32,65,0.5);font-size:14px;line-height:26px}.booking__lux{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;color:#BC9CFF;margin-left:5px;line-height:26px}.booking__overall{font-family:Quicksand, Open Sans;font-style:normal;font-weight:bold;font-size:19px;line-height:24px;letter-spacing:0.15px;color:#1f2041;font-size:19px;margin:0;padding:0}.booking__perday{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.25);font-size:12px;margin-left:5px;line-height:26px}.booking__room-number{font-family:Quicksand, Open Sans;font-style:normal;font-weight:bold;font-size:19px;line-height:24px;letter-spacing:0.15px;color:#1f2041;font-size:24px;margin-left:5px;line-height:28px}.booking__sign{font-family:Quicksand, Open Sans;font-style:normal;font-weight:bold;font-size:19px;line-height:24px;letter-spacing:0.15px;color:#1f2041;font-size:14px;line-height:26px}.booking__grid{display:grid;grid-template-columns:220px 1fr 70px;grid-auto-flow:row;grid-row-gap:15px}.booking__footer-layout{display:flex;justify-content:stretch}.booking__spacer{margin:0 5px;padding:0;height:18px;flex-grow:1;border-bottom:1px dotted rgba(31,32,65,0.25)}.booking__grid_col3{text-align:right}.booking__dates-layout{display:flex;justify-content:space-between}.booking__header-layout{display:flex;justify-content:space-between;align-items:flex-end}.booking__form{margin:0 auto;max-width:320px;padding:0}.likebtn{padding:0;margin:0;width:40px;height:20px;box-sizing:border-box;border:0;background-color:rgba(31,32,65,0.25);border-radius:10px 10px 10px 10px;display:flex;justify-content:center;align-items:center;color:rgba(31,32,65,0.25)}.likebtn:hover{color:rgba(31,32,65,0.5)}.likebtn__heart{display:flex;align-items:center;font-size:10px;line-height:8px;color:inherit}.likebtn__likes{display:flex;justify-content:center;align-items:center;font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);font-size:9px;line-height:12px;color:inherit}.likebtn_liked{color:#BC9CFF;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)}.likebtn__background{padding:0 4px;margin:0;width:38px;height:18px;box-sizing:border-box;border:0;background:white;border-radius:10px 10px 10px 10px;display:grid;grid-template-columns:10px 1fr;cursor:pointer}.comment{display:grid;position:relative;grid-template-columns:48px 1fr;grid-column-gap:10px;grid-row-gap:12px;grid-auto-flow:row;margin:0;padding:0;justify-content:left}.comment__author{display:flex;flex-direction:column;justify-content:space-between}.comment__author{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);font-weight:bold;color:rgba(31,32,65,0.75);padding:0;margin:0}.comment__content{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.75);line-height:24px;margin:-2px 0 0 0}.comment__date{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.75);padding:0;margin:0}.comment__photo{width:48px;height:48px;border-radius:50%;box-sizing:border-box;margin:0;padding:0}.comment__likes{display:flex;justify-content:center}.list{margin:0;padding:0;list-style-type:none}.list__item{position:relative;font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.75);margin:0 0 10px 0;padding:0 0 0 21px}.list__item:before{position:absolute;display:block;content:' ';width:10.43px;height:10px;margin:0;padding:0;left:1px;top:6px;border-radius:50%;background-color:rgba(31,32,65,0.25)}.impressions{position:relative;display:flex;justify-content:space-between;align-items:end;width:320px;height:125px;padding:0;margin:0}.impressions svg{padding:0 0 5px 0}.impressions__legend-icon{display:inline-block;width:10px;height:10px;border-radius:50%;margin-right:5px}.impressions__legend{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.75);padding:0 5px 0 0}.impressions__votes{display:flex;flex-direction:column;justify-content:center;align-items:center;position:absolute;left:0;top:0;width:120px;height:120px}.impressions__votes p:first-child{font-family:Quicksand, Open Sans;font-style:normal;font-weight:bold;font-size:19px;line-height:24px;letter-spacing:0.15px;color:#1f2041;margin:0;padding:0;color:#BC9CFF;font-size:24px;line-height:30px}.impressions__votes p:last-child{font-family:Montserrat;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;color:#1f2041;text-transform:uppercase;letter-spacing:-0.15px;margin:0;padding:0;color:#BC9CFF}.room-details{padding:0;margin:0;box-sizing:border-box;border-bottom:1px solid rgba(31,32,65,0.25)}.room-details__photos{display:flex;justify-content:center;flex-wrap:wrap}.room-details__photos-small{display:flex;flex-direction:column}@media (max-width: 1439px){.room-details__photos-small{flex-direction:row}.room-details__photo-big{max-width:918px}}@media (max-width: 459px){.room-details__photos-small{flex-direction:column}}.room-details__photo{width:100%;height:auto;max-width:459px}.room-details__middle-section{display:flex;justify-content:center;padding:70px 0 61px 0;flex-basis:content;border-bottom:1px solid rgba(31,32,65,0.25);flex-wrap:wrap}.room-details__details{display:flex;justify-content:center;flex-wrap:wrap}.room-details__title{font-family:Quicksand, Open Sans;font-style:normal;font-weight:bold;font-size:19px;line-height:24px;letter-spacing:0.15px;color:#1f2041;padding:0;margin:0;font-size:19px;color:#1f2041}.room-details__bottom-section{display:flex;justify-content:center;flex-wrap:wrap}.room-details__features{width:280px}.room-details__impression{width:320px;margin:0 auto}.room-details__feedback{margin:14px 0 0 0;max-width:710px}.room-details__feedback-title{display:flex;justify-content:space-between}.room-details__feedback-title p{padding:0;margin:0;font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);color:rgba(31,32,65,0.5);min-width:64px}.room-details__booking{width:383px}.room-details__rules{width:280px}.room-details__rules h3{padding:0 0 0 20px}.room_details__cancel{width:320px;margin:0 auto}.room_details__cancel p{font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);padding:0;margin:0;color:rgba(31,32,65,0.75);font-family:Montserrat;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;letter-spacing:-0.1px;color:rgba(31,32,65,0.75);padding:0;margin:0}.feature:last-child{border:0}

